*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: url('imagem/file.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #903b2c;
}
.box{
    width: 50vw;/*ajeitar (pode usar clamp)*/
    /*height: 30vh;*/
    border: 2px solid black;
    border-radius: 50px 0px 50px 0px;
    padding: 4%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, #903b2c, #f1aa45);
    /*backdrop-filter: blur(2px);*/
    padding-bottom: 5%;
    text-align: center;
}
.title{
    font-size: clamp(18px, 2.5vw, 24px);
    margin-bottom: 4vh;
    color: #211415;
}
.type{
    display: block;
    text-align: justify;
    color: #211415;
    margin: 0.5vh;
    width: 20vw;
    padding: 0.5vh;
    font-size: clamp(12px, 2vw, 18px);
}
.espaco{
    width: 30vw;
    height: 4vh;
    border-radius: 5px;
    background-color: white;
    border:none;
    padding: 0.5vh;
    
}
.botao{
    display: block;
    margin: auto;
    margin-top: 5vh;
    text-align: center;
    width: 30vw;
    padding: 1vh;
    font-weight: bold;
    color: white;
    background-color: #5b300b;
    border: none;
    border-radius: 5px;
    font-size: clamp(12px, 2vw, 18px);
}
.title::after{
    content: '';
    display: block;
    margin: 0 auto;
    width: 25vw;
    height: 0.5vh;
    background-color: white;
}
.user::before{
    content: "\f007";
    font-family: "Font Awesome 6 Free"; /*tem q colocar*/
    font-weight: 600;
    margin-right: 1vw;
}
.passw::before{
    content: "\f023"; 
    font-family: "Font Awesome 6 Free";
    font-weight: 600; 
    margin-right: 1vw;
}
.botao:hover{
    cursor: pointer;
    background-color: #f1aa45;
    color: black;
    transition: 0.2s;
}
