*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}
.box{
    width: 40vw;
    border: 2px solid black;
    border-radius: 5px;
}
.tittle{
    text-align: center;
}
.type{
    display: block;
}