:root{
--fontprinc: "Poppins", Arial;
--fontconf: clamp(10px, 20vw, 20px);
--cor01: #9BF2EA;
--cor02: #41BFB3;
--cor03: #2A8C82;
--cor04: #275950;
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--fontprinc);
    color: white;
}
/*definir que o documento ocupe 100% da tela na vertical (precisa colocar em todos q tu quer q ocupe 100%)*/
body, html{
    height: 100%;
}
.container{
    display: flex;
    height: 100%;
}
.lateral{
    background-color: rgb(34, 34, 34);
    width: 15%;
    height: 100%;
}
.lateral h1{
    text-align: center;
    padding-top: 20%;
    font-size: var(--fontconf);
}
.botoes li{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 5%;
    margin: 20px;
    list-style-type: none;
    text-align: justify;
}
.caixapesquisa{
    text-align: center;
}
.pesquisa{
    margin-top: 10px;
    width: 70%;
    padding: 2% 3%;
    background: white;
    border-radius: 20px;
    color: black;
}
.principal{
    background: linear-gradient(to bottom, #41BFB3, #275950);
    width: 100%;
    height: 100%;
    align-content: center;
}
.central > h1{
    text-align: center;
    padding: 2%;
    font-weight: bold;
    font-size: 30px;
    background-color: #2A8C82;
}
.imagens{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagens > img{
    width: 150px;
    height: 450px;
    object-fit: cover;
    margin: 1px;
    border: 3px solid white;
    border-radius: 5px;
    transition: 0.5s;
}
.img:hover{
    width: 300px;
}
.botao:hover{
    background-color: rgb(254, 252, 252);
    color: black;
    border-radius: 5px;
    cursor: pointer;
}
.pesquisa:hover{
    cursor: pointer;    
}
/*
.caixapesquisa::after{
    content: '\1F50E'; /*colocando aquele emoji*/
