@media screen and (min-width: 375px) and (max-width:425px){
    .cont-frases{
        width: 300px;
        font-size: 12.5pt;
    }
}

@media screen and (min-width:760px){
    .cont-frases{
        width: 400px;
        font-size: 15pt;
    }

}